<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</th:block>
<th:block layout:fragment="title">
    <title>메인페이지</title>
</th:block>
<section>
    <th:block layout:fragment="content">
        <article id="article01">
            <div>article01</div>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{/img/carousel01.PNG}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/img/carousel02.PNG}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/img/carousel03.PNG}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>
        <article id="article02">
            <div>article02</div>
            <form id="searchForm" th:action="@{/fit/fitList}" method="get" th:onsubmit="return submitChoice(this)">
                <div class="container text-center">
                    <div id="choice" class="row">
                        <div id="regionChoice" class="choice col">
                            지역선택
                            <span id="a"></span>
                            <span id="b"></span>
                        </div>
                        <div id="big_region" class="region">
                            <span style="display : inline-block; margin-top : 5px; margin-left : 5px;">시/도 선택</span> >
                            <span style="display : inline-block; margin-top : 5px;">시/군/구 선택</span>
                            <hr>
                            <button type="button" class="btn btn-light bigRegion">서울</button>
                            <button type="button" class="btn btn-light bigRegion">경기</button>
                            <button type="button" class="btn btn-light bigRegion">인천</button>
                        </div>
                        <div id="small_region" class="region"></div>
                        <div th:text="유형선택" id="typeChoice" class="choice col"></div>
                        <div id="type">
                            <span style="display : inline-block; margin-top : 5px; margin-left : 5px;" onclick="tType()">유형 선택</span> >
                            <hr>
                            <button type="button" class="btn btn-light type">실내</button>
                            <button type="button" class="btn btn-light type">실외</button>
                        </div>
                        <input type="hidden" name="currentPageNo" value="1" />
                        <input type="hidden" name="recordsPerPage" th:value="${fitDTO.recordsPerPage}" />
                        <input type="hidden" name="pageSize" th:value="${fitDTO.pageSize}" />
                        <input type="hidden" name="bigRegion" id="bigRegionInput" />
                        <input type="hidden" name="smallRegion" id="smallRegionInput" />
                        <input type="hidden" name="choiceType" id="choiceTypeInput" />
                        <div class="col">
                            <button type="submit" class="btn btn-light" style="width : 80%;">검색하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </article>
        <article id="article03">
            <div class="container" id="mainCenter">
                <h3 style="font-weight : bold">공간유형</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">전체보기</h5>
                                <p class="card-text">
                                    <ul>
                                        <li class="hidden">#모든공간 </li>
                                        <li class="hidden">#실내/실외 </li>
                                        <li class="hidden">#운동/스튜디오 </li>
                                    </ul>
                                </p>
                                <a th:href="|@{/fit/fitList}${fitDTO.makeChoiceQueryString(fitDTO.currentPageNo)}|" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">체육관/실내코드</h5>
                                <p class="card-text">
                                    <ul>
                                        <li>#농구장</li>
                                        <li>#체육관</li>
                                        <li>#실내운동</li>
                                    </ul>
                                </p>
                                <a th:href="|@{/fit/fitList}${fitDTO.makeChoice2QueryString(fitDTO.currentPageNo)}&choiceType=실내|" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">운동장/야외코트</h5>
                                <p class="card-text">
                                    <ul>
                                        <li>#풋살장</li>
                                        <li>#골프장</li>
                                        <li>#실외운동</li>
                                    </ul>
                                </p>
                                <a th:href="|@{/fit/fitList}${fitDTO.makeChoice2QueryString(fitDTO.currentPageNo)}&choiceType=실외|" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">스튜디오</h5>
                                <p class="card-text">
                                <ul>
                                    <li>#촬영</li>
                                    <li>#대형/중형</li>
                                    <li>#스튜디오</li>
                                </ul>
                                </p>
                                <a href="#" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">강의실</h5>
                                <p class="card-text">
                                <ul>
                                    <li>#대형강의실</li>
                                    <li>#교실</li>
                                    <li>#학교촬영</li>
                                </ul>
                                </p>
                                <a href="#" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">공연장</h5>
                                <p class="card-text">
                                <ul>
                                    <li>#노래/연극</li>
                                    <li>#음향시설</li>
                                    <li>#콘서트</li>
                                </ul>
                                </p>
                                <a href="#" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">카페/레스토랑</h5>
                                <p class="card-text">
                                <ul>
                                    <li>#생일카페</li>
                                    <li>#기념일</li>
                                    <li>#음식제공</li>
                                </ul>
                                </p>
                                <a href="#" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">공유오피스</h5>
                                <p class="card-text">
                                <ul>
                                    <li>#사무실</li>
                                    <li>#다양한유형</li>
                                    <li>#프린트제공</li>
                                </ul>
                                </p>
                                <a href="#" class="btn btn-light">공간 보러가기</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </th:block>
</section>
<th:block  layout:fragment="add-script">
    <script th:src="@{/js/main.js}" th:inline="javascript" charset="UTF-8"></script>
</th:block>
</html>