<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/fit/fit.css}"/>
</th:block>
<th:block layout:fragment="title">
    <title>목록페이지</title>
</th:block>

<section>
    <th:block layout:fragment="content">
        <div th:if="${not #lists.isEmpty(fitDTOList)}">
            <!--<div th:text="${fitDTO}"></div>-->
            <div class="container text-center">
                <div class="row">
                    <th:block th:each="fitDTO, fitDTOIndex : ${fitDTOList}">
                        <div class="col col-lg-3 col-md-6">
                            <div class="card" style="width: 18rem;">
                                <img th:src="@{|/upload/${fitDTO.mainFilePath}|}" class="card-img-top" alt="..." id="imgList">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${fitDTO.name}"></h5>
                                    <p class="card-text" th:text="${fitDTO.addrSimple}"></p>
                                    <a th:href="@{|/fit/fitInfo/${fitDTO.num}|}" class="btn btn-primary">예약하러가기</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div th:unless="${not #lists.isEmpty(fitDTOList)}">
            <div>
                <span>조회된 결과가 없습니다.</span>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="paging">
        <nav th:if="${fitDTO != null and fitDTO.paginationInfo.totalRecordCount > 0}" th:object="${fitDTO.paginationInfo}" th:with="info=${fitDTO.paginationInfo}" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${fitDTO.makeChoiceQueryString(1)} ]])">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${fitDTO.makeChoiceQueryString(info.firstPage - 1)} ]])">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
                </li>
                <li class="page-item" th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo ==fitDTO.currentPageNo} ? 'active'">
                    <a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${requestURI} ]], [[ ${fitDTO.makeChoiceQueryString(pageNo)} ]])"></a>
                </li>
                <li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${fitDTO.makeChoiceQueryString(info.lastPage +1)} ]])">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
                </li>
                <li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${fitDTO.makeChoiceQueryString(info.totalPageCount)} ]])">
                    <a class="page-link" href="javascript:void(0)" aria-label="next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </th:block>
</section>
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
        function movePage(uri, queryString){
            location.href=uri + queryString;
        }
    </script>
</th:block>
</html>